@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(249, 250, 255);
}

.verifyButton {
  background-color: green;
  border: 2px solid green;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
  width: 100%;
}

.verifyButton:hover {
  background-color: white;
  color: black;

}

.verificationInput1 {
  width: 100%;
  padding: 5px 20px;
  border: 1px solid grey;
  border-radius: 4px;
}